In [1]:
import pandas as pd
df1 = pd.read_csv('ethiopiadatacount3330_1.csv')
df1.head()

,Destination Name,Review Head,Review Body,Rating,Date
0,Rock-Hewn Churches of Lalibela,Incredible locations don't be put off thinking...,Amazing location must visit. This site is mark...,5,October 2019
1,Rock-Hewn Churches of Lalibela,It is a real miracle of the world!,I do recommend to visit Lalibela churches and ...,5,October 2019
2,Rock-Hewn Churches of Lalibela,Incredible experience,A must visit in Ethiopia - one of the most uni...,5,October 2019
3,Rock-Hewn Churches of Lalibela,Amazing,These churches have to be seen to be believed....,4,October 2019
4,Rock-Hewn Churches of Lalibela,So much history,Thanks to our tour organiser Ephram who is bas...,5,October 2019

In [2]:
df2 = pd.read_csv('ethiopiadatacount270_2.csv')
df2.head()

,Destination Name,Review Head,Review Body,Rating,Date
0,Northern Stelae Field,"Impressive stellae, really well preserved arch...",We almost skipped Aksum during our travels in ...,4,June 2015
1,Northern Stelae Field,It might even top Lalibela in my books!,A friend who went to Axum years ago had not wa...,5,March 2015
2,Northern Stelae Field,A lot more underground.,"If they would run Ground Radar, a lot more cou...",5,April 2014
3,Northern Stelae Field,Dramatic,These are architectural marvels. Read up on th...,4,October 2014
4,Northern Stelae Field,My Experience -- Northern Stelae Field,Spectacular -- with the fallen one the largest...,5,November 2014

In [4]:
df3_1 = pd.read_csv('ethiopiadatacount853_3_1.csv')
df3_1.head()

,Destination Name,Review Head,Review Body,Rating,Date
0,National Museum of Ethiopia,For a quick hop only,I wouldn't plan your afternoon on this museum ...,2,May 2012
1,National Museum of Ethiopia,Amazing,great to see such old fossils...very education...,4,April 2012
2,National Museum of Ethiopia,Museum,"Gives some information on Ethiopia, but need s...",3,December 2011
3,National Museum of Ethiopia,visit your relative lucy,"in addis, i place to go, i visit to lucy and o...",4,April 2012
4,National Museum of Ethiopia,well organized,"am a museum person , i love history any any ...",4,April 2012

In [5]:
df3_2 = pd.read_csv('ethiopiadatacount837_3_2.csv')
df3_2.head()

,Destination Name,Review Head,Review Body,Rating,Date
0,Debre Berhan Selassie Church,Small quiet church,Visited on December 3rd morning. A small churc...,3,December 2017
1,Debre Berhan Selassie Church,Small but beautiful,Interesting old wall paintings all over the in...,3,November 2017
2,Debre Berhan Selassie Church,A real gem!,The church is not very significant from the ou...,5,November 2017
3,Debre Berhan Selassie Church,A wonderful cultural experience,Really enjoyed visiting this most historic chu...,4,November 2017
4,Debre Berhan Selassie Church,its a amazing cultural experience,great to learn about history of a country neve...,4,October 2017

In [6]:
df3_3 = pd.read_csv('ethiopiadatacount831_3_3.csv')
df3_3.head()

,Destination Name,Review Head,Review Body,Rating,Date
0,Gheralta Rock,Exciting and scary,After a relatively easy walk among tukuls and ...,4,January 2019
1,Gheralta Rock,Climbed to one of the rock-hewn churches,Real scary and exciting adventure - no ropes o...,5,January 2019
2,Gheralta Rock,BEST GUIDE IN ETHIOPIA: totally stress free,We are just returning from 3 days in the gheta...,5,February 2019
3,Gheralta Rock,Beautiful experience,Breathtaking views. Incredible excursions. War...,5,October 2018
4,Gheralta Rock,"Multi-Day Visit to Gheralta Rock, Dallol and D...",I travelled solo to Ethiopia the last week of ...,5,December 2018

In [7]:
df3_4 = pd.read_csv('ethiopiadatacount856_3_4.csv')
df3_4.head()

,Destination Name,Review Head,Review Body,Rating,Date
0,Debre Berhan Selassie Church,One of the most amazing churches I've ever seen!,It's a crazy beautiful church with a very spec...,4,October 2019
1,Debre Berhan Selassie Church,Beautiful church,Beautiful church with amazing interior artwork...,5,October 2019
2,Debre Berhan Selassie Church,Beautiful,This is one of the most beautiful churches in ...,5,October 2019
3,Debre Berhan Selassie Church,One of the most Beautiful Ethiopian Churches,Consecrated in1693’ it has remained unscathed ...,4,October 2019
4,Debre Berhan Selassie Church,Samuel Tadesse - tour guide,Samuel took us on a wonderful tour around Bahi...,5,November 2018

In [8]:
df3_5 = pd.read_csv('ethiopiadatacount869_3_5.csv')
df3_5.head()

,Destination Name,Review Head,Review Body,Rating,Date
0,National Museum of Ethiopia,Interesting,This place is a main attraction in the city. S...,5,December 2018
1,National Museum of Ethiopia,Seeing Lucy is the highlight,"Like most museums in Addis, this one is also p...",4,December 2018
2,National Museum of Ethiopia,You can See Our Mother Lucy!!!,"It's a replica, but the real stuff its actuall...",4,November 2018
3,National Museum of Ethiopia,There's alot to see here,"At times the lighting was poor, and the interp...",4,November 2018
4,National Museum of Ethiopia,Go to see Lucy! (You could skip the rest if li...,It is worth checking out to see Lucy. Although...,3,November 2018

In [9]:
df3_6 = pd.read_csv('ethiopiadatacount806_3_6.csv')
df3_6.head()

,Destination Name,Review Head,Review Body,Rating,Date
0,Mesganaw,Awesome guide,Mesganaw is an amazing guide! He is not only 1...,5,July 2019
1,Bale Mountains,Amazing time with an amazing guide,"We spent 4 days in Bale National Park, departi...",5,September 2015
2,Bale Mountains,"Not cheap to visit, but well worth it","We only had one evening, one full day and one ...",5,December 2015
3,Bale Mountains,Wonderful wildlife,I was on a bird watching trip and there are so...,4,November 2015
4,Bale Mountains,Hiking in Bale Mountains,"Hiking in Bale Mountains, starting from Dinsho...",5,November 2015

In [10]:
df3_7 = pd.read_csv('ethiopiadatacount844_3_7.csv')
df3_7.head()

,Destination Name,Review Head,Review Body,Rating,Date
0,Gheralta Rock,Un-missable experience,This was our second visit in 4 years to the Gh...,5,October 2013
1,Gheralta Rock,Wonderland,"Gheralta Rock is a bit of a misnomer. In fact,...",5,July 2013
2,Gheralta Rock,Beautiful surroundings nice but somewhat diffi...,The landscape is beautiful and the view from t...,5,November 2011
3,Ethnological Museum,A must visit,We almost missed the Ethnographic Museum becau...,4,February 2015
4,Ethnological Museum,Interesting cultural history,Nice display of Ethiopian culture and discussi...,4,February 2015

In [12]:
df_all_1 = pd.concat([df1, df2, df3_1, df3_2, df3_3, df3_4, df3_5, df3_6, df3_7], axis = 0)
df_all_1.head()

,Destination Name,Review Head,Review Body,Rating,Date
0,Rock-Hewn Churches of Lalibela,Incredible locations don't be put off thinking...,Amazing location must visit. This site is mark...,5,October 2019
1,Rock-Hewn Churches of Lalibela,It is a real miracle of the world!,I do recommend to visit Lalibela churches and ...,5,October 2019
2,Rock-Hewn Churches of Lalibela,Incredible experience,A must visit in Ethiopia - one of the most uni...,5,October 2019
3,Rock-Hewn Churches of Lalibela,Amazing,These churches have to be seen to be believed....,4,October 2019
4,Rock-Hewn Churches of Lalibela,So much history,Thanks to our tour organiser Ephram who is bas...,5,October 2019

In [13]:
df_all_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9496 entries, 0 to 843
Data columns (total 5 columns):
Destination Name    9496 non-null object
Review Head         9496 non-null object
Review Body         9496 non-null object
Rating              9496 non-null int64
Date                9496 non-null object
dtypes: int64(1), object(4)
memory usage: 445.1+ KB

In [56]:
df_all_1.to_csv('ethiopiadata_all_raw', index = False)

In [16]:
print(df_all_1.duplicated().sum())
print(df_all_1.isnull().sum())
print(df_all_1.isna().sum())

1083
Destination Name    0
Review Head         0
Review Body         0
Rating              0
Date                0
dtype: int64
Destination Name    0
Review Head         0
Review Body         0
Rating              0
Date                0
dtype: int64

In [19]:
df_all_2 = df_all_1.drop_duplicates()
df_all_2.head()

,Destination Name,Review Head,Review Body,Rating,Date
0,Rock-Hewn Churches of Lalibela,Incredible locations don't be put off thinking...,Amazing location must visit. This site is mark...,5,October 2019
1,Rock-Hewn Churches of Lalibela,It is a real miracle of the world!,I do recommend to visit Lalibela churches and ...,5,October 2019
2,Rock-Hewn Churches of Lalibela,Incredible experience,A must visit in Ethiopia - one of the most uni...,5,October 2019
3,Rock-Hewn Churches of Lalibela,Amazing,These churches have to be seen to be believed....,4,October 2019
4,Rock-Hewn Churches of Lalibela,So much history,Thanks to our tour organiser Ephram who is bas...,5,October 2019

In [20]:
df_all_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8413 entries, 0 to 843
Data columns (total 5 columns):
Destination Name    8413 non-null object
Review Head         8413 non-null object
Review Body         8413 non-null object
Rating              8413 non-null int64
Date                8413 non-null object
dtypes: int64(1), object(4)
memory usage: 394.4+ KB

In [34]:
df_all_2['Destination Name'] = df_all_2['Destination Name'].replace(to_replace = 'Chebera-Churchura National Park', 
                                                                    value = 'Chebera Churchura National Park')
df_all_2.head()

/opt/tljh/user/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Destination Name,Review Head,Review Body,Rating,Date
0,Rock-Hewn Churches of Lalibela,Incredible locations don't be put off thinking...,Amazing location must visit. This site is mark...,5,October 2019
1,Rock-Hewn Churches of Lalibela,It is a real miracle of the world!,I do recommend to visit Lalibela churches and ...,5,October 2019
2,Rock-Hewn Churches of Lalibela,Incredible experience,A must visit in Ethiopia - one of the most uni...,5,October 2019
3,Rock-Hewn Churches of Lalibela,Amazing,These churches have to be seen to be believed....,4,October 2019
4,Rock-Hewn Churches of Lalibela,So much history,Thanks to our tour organiser Ephram who is bas...,5,October 2019

In [35]:
destination_list = list(df_all_2['Destination Name'].unique())
for i in range(len(destination_list)):
    print(i + 1, destination_list[i])

1 Rock-Hewn Churches of Lalibela
2 Church of St. George
3 Abuna Yemata Guh church
4 Yemrehanna Kristos
5 Debre Berhan Selassie Church
6 Azwa Mariam Monastery
7 Fasiladas Bath Timket
8 The Ruins of Aksum
9 Holy Trinity Cathedral
10 Simien View
11 Asheton Maryam Monastery
12 St. George's Cathedral
13 Northern Stelae Field
14 Monastery of Na’akuto La’ab
15 Entoto Maryam Church
16 Tomb of Adam
17 Monastery of Debre Mariam
18 Church of Our Lady Mary of Zion
19 National Museum of Ethiopia
20 Simien Mountains National Park
21 Red Terror Martyrs Memorial Museum
22 Omo National Park and River
23 Tombs of Kings Kaleb and Gebre Meskal
24 Ethnological Museum
25 Harar Museum
26 Gambella National Park
27 The Mausoleum of Menelik II
28 Emperor Yohannes IV Palace
29 Dasenech Village
30 Gheralta Rock
31 King Ezana's inscription
32 Abune Yosef
33 Berhan Ethiopa Cultural Center Plc
34 St Mary of Zion
35 Nechisar National Park
36 Harar Jegol Wall
37 Abidjatta-Shalla National Park
38 Casa Museo di Rimbaud
39 Bale Mountains
40 Menagesha Suba Forest Park
41 Church of Debre Sina Maryam
42 Adadi Maryam
43 Asni Gallery
44 Addis Fine Art Gallery
45 Wakanda Art Gallery
46 Museum of Modern Art/Goethe Institut Ethiopia
47 Addis Ababa Museum
48 Yabelo Wildlife Sanctuary
49 Gibe Sheleko National Park
50 Archeological Museum
51 National Theatre Art Gallery
52 Monastery of Debre Damo
53 South Omo Research Centre Museum
54 BlueSapphire Tours
55 Yerer Mountain
56 Konso Cultural Centre
57 Bale Mountains National Park
58 Bilbala St. George Rock Hewn Church
59 Senkele Wildlife Sanctuary
60 Hippo watching on Lake Awassa
61 Ras Dashen
62 Zoma Museum
63 Lions Art Gallery
64 Lalibela Gemstones and Jewellery
65 Mount Bwahit
66 Mago National Park
67 Chebera Churchura National Park
68 The Fine Art Gallery
69 Wukro Museum
70 Mesganaw
71 Ezana Park
72 Lela Gallery
73 Entoto Natural Park
74 Unity Park
75 Medhane Alem Cathedral
76 Senkele Swayne's Hartebeest Sanctuary

In [39]:
landmarks = ['Rock-Hewn Churches of Lalibela', 'Church of St. George', 'Abuna Yemata Guh church', 'Yemrehanna Kristos',
             'Debre Berhan Selassie Church', 'Azwa Mariam Monastery', 'Fasiladas Bath Timket', 'The Ruins of Aksum',
             'Holy Trinity Cathedral', 'Simien View', 'Asheton Maryam Monastery', 'St. George\'s Cathedral',
             'Northern Stelae Field', 'Monastery of Na’akuto La’ab', 'Entoto Maryam Church', 'Tomb of Adam',
             'Monastery of Debre Mariam', 'Church of Our Lady Mary of Zion', 'Tombs of Kings Kaleb and Gebre Meskal', 
             'The Mausoleum of Menelik II', 'Dasenech Village', 'King Ezana\'s inscription', 'St Mary of Zion',
             'Harar Jegol Wall', 'Adadi Maryam', 'Monastery of Debre Damo', 'Konso Cultural Centre', 
             'Bilbala St. George Rock Hewn Church', 'Unity Park', 'Medhane Alem Cathedral', ] 
nature_parks = ['Simien Mountains National Park', 'Omo National Park and River', 'Gambella National Park', 'Gheralta Rock',
                'Abune Yosef', 'Nechisar National Park', 'Abidjatta-Shalla National Park', 'Bale Mountains',
                'Menagesha Suba Forest Park', 'Yabelo Wildlife Sanctuary', 'Gibe Sheleko National Park', 'BlueSapphire Tours',
                'Yerer Mountain', 'Bale Mountains National Park', 'Senkele Wildlife Sanctuary',
                'Hippo watching on Lake Awassa', 'Ras Dashen', 'Mount Bwahit', 'Mago National Park', 
                'Chebera Churchura National Park', 'Mesganaw', 'Ezana Park', 'Entoto Natural Park', 
                'Senkele Swayne\'s Hartebeest Sanctuary']
museums = ['National Museum of Ethiopia', 'Red Terror Martyrs Memorial Museum', 'Ethnological Museum', 'Harar Museum',
           'Emperor Yohannes IV Palace', 'Berhan Ethiopa Cultural Center Plc', 'Casa Museo di Rimbaud', 
           'Church of Debre Sina Maryam', 'Asni Gallery', 'Addis Fine Art Gallery', 'Wakanda Art Gallery',
           'Museum of Modern Art/Goethe Institut Ethiopia', 'Addis Ababa Museum', 'Archeological Museum', 
           'National Theatre Art Gallery', 'South Omo Research Centre Museum', 'Zoma Museum', 'Lions Art Gallery',
           'Lalibela Gemstones and Jewellery', 'The Fine Art Gallery', 'Wukro Museum', 'Lela Gallery']

In [40]:
len(landmarks) + len(nature_parks) + len(museums)

76

In [43]:
def destinationType(row):
    if row['Destination Name'] in landmarks:
        return 'Landmarks'
    elif row['Destination Name'] in nature_parks:
        return 'Nature/Parks'
    elif row['Destination Name'] in museums:
        return 'Museums'
    
df_all_2['Destination Type'] = df_all_2.apply(destinationType, axis = 1)
df_all_2.head()

/opt/tljh/user/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

,Destination Name,Review Head,Review Body,Rating,Date,Destination Type
0,Rock-Hewn Churches of Lalibela,Incredible locations don't be put off thinking...,Amazing location must visit. This site is mark...,5,October 2019,Landmarks
1,Rock-Hewn Churches of Lalibela,It is a real miracle of the world!,I do recommend to visit Lalibela churches and ...,5,October 2019,Landmarks
2,Rock-Hewn Churches of Lalibela,Incredible experience,A must visit in Ethiopia - one of the most uni...,5,October 2019,Landmarks
3,Rock-Hewn Churches of Lalibela,Amazing,These churches have to be seen to be believed....,4,October 2019,Landmarks
4,Rock-Hewn Churches of Lalibela,So much history,Thanks to our tour organiser Ephram who is bas...,5,October 2019,Landmarks

In [49]:
df_all_2['Destination Name'].value_counts()

Rock-Hewn Churches of Lalibela        1199
National Museum of Ethiopia           1182
Simien Mountains National Park        1083
Red Terror Martyrs Memorial Museum     679
Omo National Park and River            456
                                      ...
Mesganaw                                 1
Senkele Wildlife Sanctuary               1
Gibe Sheleko National Park               1
Mount Bwahit                             1
BlueSapphire Tours                       1
Name: Destination Name, Length: 76, dtype: int64

In [50]:
df_all_2['Destination Type'].value_counts()

Landmarks       3839
Museums         2553
Nature/Parks    2021
Name: Destination Type, dtype: int64

In [51]:
df_all_2['Rating'].value_counts()

5    4913
4    2277
3     953
2     184
1      86
Name: Rating, dtype: int64

In [52]:
df_all_2['Date'].value_counts()

January 2019     221
December 2018    194
February 2016    177
December 2015    172
November 2018    172
                ...
June 2011          2
January 2011       2
December 2010      2
August 2010        1
October 2010       1
Name: Date, Length: 112, dtype: int64

In [53]:
df_all_3 = df_all_2[['Destination Name', 'Destination Type', 'Rating', 'Review Head', 'Review Body', 'Date']]
df_all_3.head()

,Destination Name,Destination Type,Rating,Review Head,Review Body,Date
0,Rock-Hewn Churches of Lalibela,Landmarks,5,Incredible locations don't be put off thinking...,Amazing location must visit. This site is mark...,October 2019
1,Rock-Hewn Churches of Lalibela,Landmarks,5,It is a real miracle of the world!,I do recommend to visit Lalibela churches and ...,October 2019
2,Rock-Hewn Churches of Lalibela,Landmarks,5,Incredible experience,A must visit in Ethiopia - one of the most uni...,October 2019
3,Rock-Hewn Churches of Lalibela,Landmarks,4,Amazing,These churches have to be seen to be believed....,October 2019
4,Rock-Hewn Churches of Lalibela,Landmarks,5,So much history,Thanks to our tour organiser Ephram who is bas...,October 2019

In [55]:
print(df_all_3.duplicated().sum())
print(df_all_3.isnull().sum())
print(df_all_3.isna().sum())

0
Destination Name    0
Destination Type    0
Rating              0
Review Head         0
Review Body         0
Date                0
dtype: int64
Destination Name    0
Destination Type    0
Rating              0
Review Head         0
Review Body         0
Date                0
dtype: int64

In [59]:
df_all_3.to_csv('ethiopia_tripadvisor_data_1.csv', index = False)

In [60]:
df_ethiopia_1 = pd.read_csv('ethiopia_tripadvisor_data_1.csv')
df_ethiopia_1.head()

,Destination Name,Destination Type,Rating,Review Head,Review Body,Date
0,Rock-Hewn Churches of Lalibela,Landmarks,5,Incredible locations don't be put off thinking...,Amazing location must visit. This site is mark...,October 2019
1,Rock-Hewn Churches of Lalibela,Landmarks,5,It is a real miracle of the world!,I do recommend to visit Lalibela churches and ...,October 2019
2,Rock-Hewn Churches of Lalibela,Landmarks,5,Incredible experience,A must visit in Ethiopia - one of the most uni...,October 2019
3,Rock-Hewn Churches of Lalibela,Landmarks,4,Amazing,These churches have to be seen to be believed....,October 2019
4,Rock-Hewn Churches of Lalibela,Landmarks,5,So much history,Thanks to our tour organiser Ephram who is bas...,October 2019