In [1]:
import pandas as pd
df1 = pd.read_csv('kenyadata3177.csv')
df1.head()

,Destination Name,Review Head,Review Body,Rating,Date
0,Giraffe Centre,Giraffes and Baby Elephants!,If you find yourself with a day in Nairobi bef...,5,June 2017
1,Giraffe Centre,Places to visit in Karen - Giraffe Centre,A fun place to visit - you not only get to fee...,4,December 2016
2,Giraffe Centre,Close to the giraffes,You get to come very close to the giraffes. Yo...,3,June 2017
3,Giraffe Centre,Giraffe kiss!,If you like giraffes you'll love this place. E...,5,June 2017
4,Giraffe Centre,A wonderful moment in time.,We always visit this attraction each and every...,5,June 2017

In [2]:
print(df1.isnull().sum())
print(df1.duplicated().sum())

Destination Name    0
Review Head         0
Review Body         0
Rating              0
Date                0
dtype: int64
258

In [3]:
df2 = df1.drop_duplicates()
df2.duplicated().sum()

0

In [4]:
# df2['Date'].value_counts()
df2 = df2[df2['Date'] != 'None']
df2['Date'].value_counts()

August 2018       571
July 2018         568
August 2016       531
December 2016     503
September 2016    472
                 ...
October 2010        8
September 2010      6
July 2010           3
August 2010         2
February 2010       1
Name: Date, Length: 113, dtype: int64

In [5]:
destination_list = list(df2['Destination Name'].unique())
for i in range(len(destination_list)):
    print(i + 1, destination_list[i])

1 Giraffe Centre
2 Karen Blixen Coffee Garden and Cottages
3 David Sheldrick Wildlife Trust
4 Crescent Island Game Park
5 Fort Jesus Museum
6 Aero Club of East Africa (ACEA)
7 Lake Nakuru
8 Hell's Gate National Park
9 Karen Blixen Museum
10 Nairobi railway museum
11 Diani Beach
12 Nairobi National Museum
13 Nairobi Gallery
14 Nairobi National Park
15 Uhuru Gardens Memorial Park
16 Nairobi Mamba Village
17 Mara River
18 Tsavo East
19 Marafa-Hells Kitchen
20 Observation Hill
21 Lamu Old Town
22 African Heritage House
23 Ol Pejeta Conservancy
24 Lamu Museum
25 Brown's Cheese Factory & Farm
26 Karura Forest
27 Olare Orok Conservancy
28 Mount Kenya
29 Gede Ruins
30 GP Karting
31 Watamu Beach
32 Desert Museum
33 Bomas of Kenya
34 Local Ocean Conservation
35 Kibera
36 Old Town
37 Lake Naivasha
38 Mara Triangle
39 Shaba National Reserve
40 Ol Kinyei Conservancy
41 Malindi Museum
42 Colobus Conservation
43 Mamba Village Centre
44 Ngong Hills
45 Mara Naboisho Conservancy
46 Mzima Springs
47 Treasures of Africa Museum
48 Mount Longonot National Park
49 Shree Cutch Satsang Swaminarayan Temple
50 Banana Hill Art Gallery
51 National Archives
52 Narok Museum
53 Mida Creek
54 Samburu National Reserve
55 Watamu National Marine Park
56 Bio-Ken Snake Farm
57 Kiambethu Farm
58 Mombasa Tusks
59 Kisumu museum
60 Mnarani
61 The Abasuba Community Peace Museum
62 Jumba la Mtwana
63 Ndoro Sculpture Garden Malindi
64 Circle Art Gallery
65 Lord Egerton Castle
66 Kericho Tea Plantations
67 Shiva Temple
68 Spinners Web Kenya
69 Kitale Museum
70 Malindi
71 Karen Village
72 Fairview Coffee Estate
73 Kit Mikayi
74 Rabai Museum
75 Selenkay Conservancy
76 All Saints Cathedral
77 Diani Beach Art Gallery
78 Jamia Mosque
79 Enashipai Maa Museum
80 Shetani Lava Flows
81 Mama Ngina's Drive
82 Kariandusi Museum
83 Roaring Rocks
84 Kapenguria Museum

In [9]:
landmarks = ['Karen Blixen Coffee Garden and Cottages', 'Uhuru Gardens Memorial Park', 'Nairobi Mamba Village', 
             'Observation Hill', 'Lamu Old Town', 'African Heritage House', 'Brown\'s Cheese Factory & Farm',
             'GP Karting', 'Kibera', 'Old Town', 'Mamba Village Centre', 'Shree Cutch Satsang Swaminarayan Temple',
             'Bio-Ken Snake Farm', 'Kiambethu Farm', 'Mombasa Tusks', 'Mnarani',
             'Jumba la Mtwana', 'Lord Egerton Castle', 'Kericho Tea Plantations', 'Shiva Temple',
             'Malindi', 'Fairview Coffee Estate', 'Kit Mikayi', 'All Saints Cathedral',
             'Jamia Mosque', 'Shetani Lava Flows', 'Mama Ngina\'s Drive', 'Roaring Rocks']
nature_parks = ['Giraffe Centre', 'David Sheldrick Wildlife Trust', 'Crescent Island Game Park', 'Lake Nakuru',
                'Hell\'s Gate National Park', 'Diani Beach', 'Nairobi National Park', 'Mara River',
                'Tsavo East', 'Marafa-Hells Kitchen', 'Ol Pejeta Conservancy', 'Karura Forest',
                'Olare Orok Conservancy', 'Mount Kenya', 'Watamu Beach', 'Local Ocean Conservation',
                'Lake Naivasha', 'Mara Triangle', 'Shaba National Reserve', 'Ol Kinyei Conservancy',
                'Colobus Conservation', 'Ngong Hills', 'Mara Naboisho Conservancy', 'Mzima Springs',
                'Mount Longonot National Park', 'Mida Creek', 'Samburu National Reserve', 'Watamu National Marine Park',
                'Spinners Web Kenya', 'Selenkay Conservancy']
museums = ['Fort Jesus Museum', 'Aero Club of East Africa (ACEA)', 'Karen Blixen Museum', 'Nairobi railway museum',
           'Nairobi National Museum', 'Nairobi Gallery', 'Lamu Museum', 'Gede Ruins',
           'Desert Museum', 'Bomas of Kenya', 'Malindi Museum', 'Treasures of Africa Museum',
           'Banana Hill Art Gallery', 'National Archives', 'Narok Museum', 'Kisumu museum',
           'The Abasuba Community Peace Museum', 'Ndoro Sculpture Garden Malindi', 'Circle Art Gallery', 'Kitale Museum',
           'Karen Village', 'Rabai Museum', 'Diani Beach Art Gallery', 'Enashipai Maa Museum',
           'Kariandusi Museum', 'Kapenguria Museum']

In [10]:
print(len(landmarks))
print(len(nature_parks))
print(len(museums))
print(len(landmarks + nature_parks + museums))

28
30
26
84

In [11]:
def destinationType(row):
    if row['Destination Name'] in landmarks:
        return 'Landmarks'
    elif row['Destination Name'] in nature_parks:
        return 'Nature/Parks'
    elif row['Destination Name'] in museums:
        return 'Museums'
    
df2['Destination Type'] = df2.apply(destinationType, axis = 1)
df2.head()

,Destination Name,Review Head,Review Body,Rating,Date,Destination Type
0,Giraffe Centre,Giraffes and Baby Elephants!,If you find yourself with a day in Nairobi bef...,5,June 2017,Nature/Parks
1,Giraffe Centre,Places to visit in Karen - Giraffe Centre,A fun place to visit - you not only get to fee...,4,December 2016,Nature/Parks
2,Giraffe Centre,Close to the giraffes,You get to come very close to the giraffes. Yo...,3,June 2017,Nature/Parks
3,Giraffe Centre,Giraffe kiss!,If you like giraffes you'll love this place. E...,5,June 2017,Nature/Parks
4,Giraffe Centre,A wonderful moment in time.,We always visit this attraction each and every...,5,June 2017,Nature/Parks

In [12]:
df3 = df2[['Destination Name', 'Destination Type', 'Rating', 'Review Head', 'Review Body', 'Date']]
df3.head()

,Destination Name,Destination Type,Rating,Review Head,Review Body,Date
0,Giraffe Centre,Nature/Parks,5,Giraffes and Baby Elephants!,If you find yourself with a day in Nairobi bef...,June 2017
1,Giraffe Centre,Nature/Parks,4,Places to visit in Karen - Giraffe Centre,A fun place to visit - you not only get to fee...,December 2016
2,Giraffe Centre,Nature/Parks,3,Close to the giraffes,You get to come very close to the giraffes. Yo...,June 2017
3,Giraffe Centre,Nature/Parks,5,Giraffe kiss!,If you like giraffes you'll love this place. E...,June 2017
4,Giraffe Centre,Nature/Parks,5,A wonderful moment in time.,We always visit this attraction each and every...,June 2017

In [13]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29135 entries, 0 to 29993
Data columns (total 6 columns):
Destination Name    29135 non-null object
Destination Type    29135 non-null object
Rating              29135 non-null int64
Review Head         29135 non-null object
Review Body         29135 non-null object
Date                29135 non-null object
dtypes: int64(1), object(5)
memory usage: 1.6+ MB

In [14]:
df3.to_csv('kenya_tripadvisor_data_1.csv', index = False)

In [19]:
df4 = pd.read_csv('kenya_tripadvisor_data_1.csv')
df4.head()

,Destination Name,Destination Type,Rating,Review Head,Review Body,Date
0,Giraffe Centre,Nature/Parks,5,Giraffes and Baby Elephants!,If you find yourself with a day in Nairobi bef...,June 2017
1,Giraffe Centre,Nature/Parks,4,Places to visit in Karen - Giraffe Centre,A fun place to visit - you not only get to fee...,December 2016
2,Giraffe Centre,Nature/Parks,3,Close to the giraffes,You get to come very close to the giraffes. Yo...,June 2017
3,Giraffe Centre,Nature/Parks,5,Giraffe kiss!,If you like giraffes you'll love this place. E...,June 2017
4,Giraffe Centre,Nature/Parks,5,A wonderful moment in time.,We always visit this attraction each and every...,June 2017

In [20]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29135 entries, 0 to 29134
Data columns (total 6 columns):
Destination Name    29135 non-null object
Destination Type    29135 non-null object
Rating              29135 non-null int64
Review Head         29135 non-null object
Review Body         29135 non-null object
Date                29135 non-null object
dtypes: int64(1), object(5)
memory usage: 1.3+ MB

In [21]:
df4['Destination Name'].value_counts()

David Sheldrick Wildlife Trust        5469
Giraffe Centre                        3794
Nairobi National Park                 2728
Karen Blixen Museum                   1573
Mara River                            1447
                                      ...
Shetani Lava Flows                       5
The Abasuba Community Peace Museum       3
Circle Art Gallery                       3
Narok Museum                             3
Treasures of Africa Museum               3
Name: Destination Name, Length: 84, dtype: int64

In [23]:
df4['Destination Type'].value_counts()

Nature/Parks    21143
Museums          4685
Landmarks        3307
Name: Destination Type, dtype: int64

In [24]:
df4['Rating'].value_counts()

5    17443
4     8107
3     2752
2      556
1      277
Name: Rating, dtype: int64

In [27]:
df4['Date'].value_counts()

August 2018       571
July 2018         568
August 2016       531
December 2016     503
September 2016    472
                 ...
October 2010        8
September 2010      6
July 2010           3
August 2010         2
February 2010       1
Name: Date, Length: 113, dtype: int64